[submodule "bkeep-api"]
	path = bkeep-api
	url = https://github.com/BKeepTM/bkeep-api.git
[submodule "bkeep-web-app"]
	path = bkeep-web-app
	url = https://github.com/BKeepTM/bkeep-web-app.git
[submodule "bkeep-prevajanje"]
	path = bkeep-prevajanje
	url = https://github.com/BKeepTM/bkeep-prevajanje.git
[submodule "bkeep-scraper"]
	path = bkeep-scraper
	url = https://github.com/BKeepTM/bkeep-scraper.git
